<div>
  
  <div class="detail">
    <h4 class="detail__title">ID</h4>
    <p class="detail__value"><a [routerLink]="['/deployments/view', deployment.id]">{{deployment.id}}</a></p>
  </div>

  <div class="detail">
    <h4 class="detail__title">Name</h4>
    <p class="detail__value">{{deployment.name}}</p>
  </div>

  <div class="detail">
    <h4 class="detail__title">Public/Private</h4>
    <p class="detail__value">{{deployment.public ? 'Public' : 'Private'}}</p>
  </div>

  <div class="detail">
    <h4 class="detail__title">Description</h4>
    <p class="detail__value">{{deployment.description || 'none'}}</p>
  </div>

  <div class="detail">
    <h4 class="detail__title">Created</h4>
    <p class="detail__value">{{deployment.createdAt| date:'long'}}</p>
  </div>

  <div class="detail">
    <h4 class="detail__title">Last updated</h4>
    <p class="detail__value">{{deployment.updatedAt| date:'long'}}</p>
  </div>


  <div fxLayout="row wrap" fxLayoutAlign="space-around">

    <a [routerLink]="['/deployments/edit', deployment.id]" mat-raised-button color="primary" class="btn--m-5">
      <mat-icon aria-label="edit">edit</mat-icon> Edit
    </a>

    <a [routerLink]="['/sensors/create', {inDeployment: deployment.id}]" mat-raised-button color="primary" class="btn--m-5">
      Add Sensors
    </a>    

    <button mat-raised-button color="warn" (click)="deleteButtonClicked()" class="btn--m-5">
      <span *ngIf="state === 'pending'">
        Delete
      </span>
      <div *ngIf="state === 'deleting'" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <span>Deleting</span>
        <mat-spinner diameter="18"></mat-spinner>
      </div>
    </button>
  </div>

</div>