<div>
  
  <p>ID: {{deployment.id}}</p>
  <p>Name: {{deployment.name}}</p>
  <p>{{deployment.public ? 'Public' : 'Private'}}</p>
  <p>Description: {{deployment.description}}</p>
  <p>Created: {{deployment.createdAt| date:'long'}}</p>
  <p>Last Updated: {{deployment.updatedAt | date:'long'}}</p>

  <div fxLayout="row wrap" fxLayoutAlign="space-around">

    <a [routerLink]="['/deployments/edit', deployment.id]" mat-raised-button color="accent" class="btn--m-5">
      <mat-icon aria-label="edit">edit</mat-icon> Edit
    </a>

    <a [routerLink]="['/sensors/create', {inDeployment: deployment.id}]" mat-raised-button color="primary" class="btn--m-5">
      Add Sensors
    </a>    

    <button mat-raised-button color="warn" (click)="deleteButtonClicked()" class="btn--m-5">
      <span *ngIf="state === 'pending'">
        Delete
      </span>
      <div *ngIf="state === 'deleting'" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <span>Deleting</span>
        <mat-spinner diameter="18"></mat-spinner>
      </div>
    </button>
  </div>

</div>