<div class="container container--padded-top container--padded-bottom">

  <mat-card>

    <div *ngIf="deleteState === 'pending'">
      <div *ngIf="getState === 'getting'" fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
        <p>Getting permanent host {{permanentHostId}}</p>
      </div>

      <div *ngIf="getState === 'failed' && getErrorMessage" fxLayout="row" fxLayoutAlign="center">
        <p class="text--warn">{{getErrorMessage}}</p>
      </div>

      <div *ngIf="getState === 'got' && permanentHost">
        <uo-permanent-host [permanentHost]="permanentHost" (deleted)="onDeleted($event)"></uo-permanent-host>
      </div>
    </div>

    <div *ngIf="deleteState === 'deleted'" fxLayout="column" fxLayoutAlign="center center">
      <p>Permanent host <em>{{permanentHostId}}</em> has been deleted.</p>
      <a mat-stroked-button color="primary" [routerLink]="['/permanent-hosts']">Return to all permanent hosts</a>
    </div>

  </mat-card>

</div>
