<div>
  
  <div class="detail">
    <h4 class="detail__title">ID</h4>
    <p class="detail__value">
      <a [routerLink]="['/platforms/view', platform.id]">{{platform.id}}</a>
    </p>
  </div>

  <div class="detail">
    <h4 class="detail__title">Name</h4>
    <p class="detail__value">{{platform.name}}</p>
  </div>

  <div class="detail">
    <h4 class="detail__title">Owner Deployment</h4>
    <p class="detail__value">
      <a [routerLink]="['/deployments/view', platform.ownerDeployment]">{{platform.ownerDeployment}}</a>
    </p>
  </div>

  <div class="detail">
    <h4 class="detail__title">Used by deployments</h4>
    <p class="detail__value">
      <span *ngFor="let deploymentId of platform.inDeployments">
        <a [routerLink]="['/deployments/view', deploymentId]">{{deploymentId}}, </a>
      </span>
    </p>
  </div>

  <div class="detail">
    <h4 class="detail__title">Hosted by</h4>
    <p *ngIf="platform.isHostedBy" class="detail__value">
      <span *ngFor="let hostPlatformId of platform.hostedByPath">
        <a [routerLink]="['/platforms/view', hostPlatformId]">{{hostPlatformId}}, </a>
      </span>
    </p>
    <p *ngIf="!platform.isHostedBy" class="detail__value">
      Not hosted by any platforms
    </p>
  </div>

  <div class="detail">
    <h4 class="detail__title">Static/Mobile</h4>
    <p class="detail__value">{{platform.static ? 'Static' : 'Mobile'}}</p>
  </div>

  <div class="detail">
    <h4 class="detail__title">Created</h4>
    <p class="detail__value">{{platform.createdAt| date:'long'}}</p>
  </div>

  <div class="detail">
    <h4 class="detail__title">Last updated</h4>
    <p class="detail__value">{{platform.updatedAt| date:'long'}}</p>
  </div>

  <div class="detail" *ngIf="platform.updateLocationWithSensor">
    <h4 class="detail__title">Updating location with sensor</h4>
    <p class="detail__value">{{platform.updateLocationWithSensor}}</p>
  </div>

  <div *ngIf="platform.location" class="detail">
    <h4 class="detail__title">Current Location</h4>
    
    View as: 
    <mat-button-toggle-group aria-label="Location View Type">
      <mat-button-toggle [checked]="viewLocationType === 'map'" (change)="viewLocationType = 'map'">Map</mat-button-toggle>
      <mat-button-toggle [checked]="viewLocationType === 'geojson'" (change)="viewLocationType = 'geojson'">GeoJSON</mat-button-toggle>
    </mat-button-toggle-group>

    <div *ngIf="viewLocationType === 'map'">
      <uo-location-viewer [geometryIn]="platform.location.geometry"></uo-location-viewer>
    </div>

    <div *ngIf="viewLocationType === 'geojson'">
      <pre>{{platform.location | json}}</pre>
    </div>

  </div>


  <div fxLayout="row" fxLayoutAlign="space-around">

    <a [routerLink]="['/platforms/edit', platform.id]" mat-raised-button color="primary" class="btn--m-5">
      <mat-icon aria-label="edit">edit</mat-icon> Edit
    </a>

    <button mat-raised-button color="warn" (click)="deleteButtonClicked()">
      <span *ngIf="deleteState === 'pending'">
        Delete
      </span>
      <div *ngIf="deleteState === 'deleting'" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <span>Deleting</span>
        <mat-spinner diameter="18"></mat-spinner>
      </div>
    </button>

  </div>


</div>