<div class="container container--padded-top container--padded-bottom">

  <div fxLayout="row" fxLayoutAlign="center">

    <mat-card class="card--max-width-600">

      <div *ngIf="getState === 'getting'" fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
        <p>Getting details for sensor <em>{{sensorId}}</em></p>
      </div>

      <div *ngIf="getState === 'got' && sensor">

        <h3>Editing {{sensor.id}}</h3>
        
        <form class="form--max-width-600" [formGroup]="editSensorForm" (ngSubmit)="onSubmit(editSensorForm.value)" fxLayout="column" fxLayoutGap="15px">

          <mat-form-field class="form__field--max-width" hintLabel="Max 44 characters">
            <input matInput id="sensor-name" type="text" formControlName="name" maxlength="44" placeholder="Name">
          </mat-form-field>

          <mat-form-field class="form__field--max-width">
            <textarea matInput id="description" formControlName="description" maxlength="1000" placeholder="Description" rows="3"></textarea>
          </mat-form-field>

          <mat-form-field class="form__field--max-width">
            <input type="text" placeholder="Has Deployment" matInput formControlName="hasDeployment" [matAutocomplete]="autoDep">
            <mat-autocomplete #autoDep="matAutocomplete">
              <mat-option *ngFor="let deploymentChoice of deploymentChoices" [value]="deploymentChoice.id">
                {{deploymentChoice.id}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="form__field--max-width">
            <input type="text" placeholder="Permanent Host" matInput formControlName="permanentHost" [matAutocomplete]="autoPermHost">
            <mat-autocomplete #autoPermHost="matAutocomplete">
              <mat-option *ngFor="let permanentHostChoice of permanentHostChoices" [value]="permanentHostChoice.id">
                {{permanentHostChoice.id}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <p>Initial Configuration (applied when a sensor is moved to a new deployment)</p>

          <uo-sensor-config-tool [previousConfig]="sensor.initialConfig" (configChanged)="onInitialConfigChange($event)"></uo-sensor-config-tool>

          <p>Current configuration</p>

          <uo-sensor-config-tool [previousConfig]="sensor.currentConfig" (configChanged)="onCurrentConfigChange($event)"></uo-sensor-config-tool>

          <div fxLayout="row" fxLayoutAlign="center">
            <button mat-raised-button color="accent" type="submit" [disabled]="editSensorForm.invalid || updateState !== 'pending'">
              <!-- Pending -->
              <span *ngIf="updateState === 'pending'">Apply</span>
              <!-- Updating -->
              <div *ngIf="updateState === 'updating'" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                <span>Updating</span>
                <mat-spinner diameter="18"></mat-spinner>
              </div>
              <!-- Updated -->
              <div *ngIf="updateState === 'updated'" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" >
                <span>Updated</span>
                <mat-icon aria-hidden="true">done</mat-icon>
              </div>
              <!-- Failed -->
              <div *ngIf="updateState === 'failed'" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" >
                <span>Failed</span>
                <mat-icon aria-hidden="true">close</mat-icon>
              </div>
            </button>
          </div>

          <div *ngIf="updateErrorMessage" fxLayout="row" fxLayoutAlign="center">
            <p class="text--warn">{{updateErrorMessage}}</p>
          </div>

        </form>  

      </div>


    </mat-card>

  </div>

</div>
