<div class="container container--padded-top container--padded-bottom">

  <div fxLayout="row" fxLayoutAlign="center">
    <a [routerLink]="['./create']" mat-raised-button color="accent">Create new feature of interest</a>
  </div>

  <br><br><br>

  <h2>Features of Interest</h2>

  <form [formGroup]="optionsForm">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="30px">

      <mat-form-field class="form__field--y-spaced" hintLabel="tip: enter whole words">
        <input matInput id="featureOfInterest-search" type="search" formControlName="search" placeholder="search">
        <span matPrefix><mat-icon>search</mat-icon>&nbsp; &nbsp;</span>
      </mat-form-field>

      <mat-form-field *ngIf="deployments.length > 0" class="form__field--y-spaced">
        <mat-label>Filter by deployment</mat-label>
        <mat-select formControlName="belongsToDeployment">
          <mat-option value="--all--">- All Deployments -</mat-option>
          <mat-option value="--none--">- Unassigned -</mat-option>
          <mat-option *ngFor="let deployment of deployments" [value]="deployment.id">
            {{deployment.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form__field--y-spaced">
        <mat-select formControlName="listed">
          <mat-option value="all">Listed and Unlisted</mat-option>
          <mat-option value="listed">Listed Only</mat-option>
          <mat-option value="unlisted">Unlisted Only</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form__field--y-spaced">
        <mat-select formControlName="inCommonVocab">
          <mat-option value="all">All Vocabularies</mat-option>
          <mat-option value="in">In Common Vocabulary</mat-option>
          <mat-option value="not-in">Not In Common Vocabulary</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </form>

  <div *ngIf="featuresOfInterest.length > 0">
    <mat-paginator 
      [length]="meta.total"
      [pageSize]="limit"
      [pageIndex]="calculatePageIndex()"
      [pageSizeOptions]="limitOptions"
      [showFirstLastButtons]="true"
      (page)="pageEvent($event)"
    >
    </mat-paginator>
  </div>

  <div *ngIf="state === 'getting'" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
    <p>Getting Features of Interest</p>
  </div>

  <div *ngIf="state === 'failed'">
    <p class="text--warn">{{getErrorMessage}}</p>
  </div>  

  <div *ngIf="state === 'got'">

    <div *ngIf="featuresOfInterest.length > 0">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let featureOfInterest of featuresOfInterest">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>{{featureOfInterest.label}}</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <uo-featureOfInterest [featureOfInterest]="featureOfInterest" (deleted)="onDeleted($event)"></uo-featureOfInterest>
          
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div *ngIf="featuresOfInterest.length === 0" fxLayout="row" fxLayoutAlign="center">
      <p>No features of interest were found</p>
    </div>  

  </div>


  
</div>

