<div class="container container--padded-top container--padded-bottom">

  <div fxLayout="row" fxLayoutAlign="center">
    <a [routerLink]="['./create']" mat-raised-button color="accent">Create new permanent host</a>
  </div>


  <br><br><br>

  <div *ngIf="state === 'getting'" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
    <p>Getting Permanent Hosts</p>
  </div>

  <div *ngIf="state === 'failed'">
    <p class="text--warn">{{getErrorMessage}}</p>
  </div>  

  <div *ngIf="state === 'got'">


    <div *ngIf="permanentHosts.length > 0">
      <p>List of permanent hosts:</p>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let permanentHost of permanentHosts">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>{{permanentHost.name}}</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <uo-permanent-host [permanentHost]="permanentHost" (deleted)="onDeleted($event)"></uo-permanent-host>
          
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div *ngIf="permanentHosts.length === 0" fxLayout="row" fxLayoutAlign="center">
      <p>You don't appear to have any permanent hosts yet</p>
    </div>    

  </div>


  
</div>

