<div class="container container--padded-top container--padded-bottom">

  <div fxLayout="row" fxLayoutAlign="center">
    <a [routerLink]="['./create']" mat-raised-button color="accent">Create new permanent host</a>
  </div>

  <br><br><br>

  <h2>Permanent Hosts</h2>

  <form [formGroup]="optionsForm">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="30px">

      <mat-form-field class="form__field--y-spaced" hintLabel="top tip: enter whole words">
        <input matInput id="permanent-host-search" type="search" formControlName="search" placeholder="search">
        <span matPrefix><mat-icon>search</mat-icon>&nbsp; &nbsp;</span>
      </mat-form-field>

    </div>
  </form>

  <div *ngIf="permanentHosts.length > 0">
    <mat-paginator 
      [length]="meta.total"
      [pageSize]="limit"
      [pageIndex]="calculatePageIndex()"
      [pageSizeOptions]="limitOptions"
      [showFirstLastButtons]="true"
      (page)="pageEvent($event)"
    >
    </mat-paginator>
  </div>

  <div *ngIf="state === 'getting'" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
    <p>Getting Permanent Hosts</p>
  </div>

  <div *ngIf="state === 'failed'">
    <p class="text--warn">{{getErrorMessage}}</p>
  </div>  

  <div *ngIf="state === 'got'">


    <div *ngIf="permanentHosts.length > 0">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let permanentHost of permanentHosts">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>{{permanentHost.name}}</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <uo-permanent-host [permanentHost]="permanentHost" (deleted)="onDeleted($event)"></uo-permanent-host>
          
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div *ngIf="permanentHosts.length === 0" fxLayout="row" fxLayoutAlign="center">
      <p>You don't appear to have any permanent hosts yet</p>
    </div>    

  </div>


  
</div>

