<div>

  <div class="detail">
    <h4 class="detail__title">ID</h4>
    <p class="detail__value"><a [routerLink]="['/sensors/view', sensor.id]">{{sensor.id}}</a></p>
  </div>

  <div class="detail">
    <h4 class="detail__title">Name</h4>
    <p class="detail__value">{{sensor.name || 'not defined'}}</p>
  </div>

  <div class="detail">
    <h4 class="detail__title">Description</h4>
    <p class="detail__value">{{sensor.description || 'none'}}</p>
  </div>

  <div class="detail">
    <h4 class="detail__title">Has Deployment</h4>
    <p class="detail__value">
      <a *ngIf="sensor.hasDeployment" [routerLink]="['/deployments/view', sensor.hasDeployment]">{{sensor.hasDeployment}}</a>
      <span *ngIf="!sensor.hasDeployment">Currently unassigned</span>
    </p>
  </div>

  <div class="detail" *ngIf="sensor.isHostedBy">
    <h4 class="detail__title">Hosted by platform</h4>
    <p class="detail__value"><a [routerLink]="['/platforms/view', sensor.isHostedBy]">{{sensor.isHostedBy}}</a></p>
  </div>
  
  <div class="detail" *ngIf="sensor.permanentHost">
    <h4 class="detail__title">Permanent Host</h4>
    <p class="detail__value"><a [routerLink]="['/permanent-hosts/view', sensor.permanentHost]">{{sensor.permanentHost}}</a></p>
  </div>

  <div class="detail">
    <h4 class="detail__title">Created</h4>
    <p class="detail__value">{{sensor.createdAt| date:'long'}}</p>
  </div>

  <div class="detail">
    <h4 class="detail__title">Last Updated</h4>
    <p class="detail__value">{{sensor.updatedAt| date:'long'}}</p>
  </div>


  <div class="detail" *ngIf="sensor.initialConfig">
    <h4 class="detail__title">
      Initial Config
      <mat-icon aria-label="info" matTooltip="Reverts back to these settings when registered to a new deployment." [matTooltipPosition]="'after'" class="icon--14">info</mat-icon>
    </h4>
    <div *ngIf="sensor.initialConfig.length > 0">
      <div *ngFor="let iConfig of sensor.initialConfig">
        <p class="detail__value">When observedProperty: {{iConfig.observedProperty}} <span *ngIf="iConfig.hasPriority">(default)</span></p>
        <div style="padding-left: 10px;">
          <p class="detail__value" *ngIf="iConfig.hasFeatureOfInterest">hasFeatureOfInterest: {{iConfig.hasFeatureOfInterest}}</p>
          <p class="detail__value" *ngIf="iConfig.unit">unit: {{iConfig.unit}}</p>
          <p class="detail__value" *ngIf="iConfig.usedProcedures">usedProcedures are {{iConfig.usedProcedures}}</p>
          <p class="detail__value" *ngIf="iConfig.disciplines">disciplines are {{iConfig.disciplines}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="sensor.initialConfig.length === 0">
      <p class="detail__value">
        Not set.
      </p>
    </div>
  </div>

  <div class="detail" *ngIf="sensor.currentConfig">
    <h4 class="detail__title">Current Config</h4>
    <div *ngIf="sensor.currentConfig.length > 0">
      <div *ngFor="let cConfig of sensor.currentConfig">
        <p class="detail__value">When observedProperty: {{cConfig.observedProperty}} <span *ngIf="cConfig.hasPriority">(default)</span></p>
        <div style="padding-left: 10px;">
          <p class="detail__value" *ngIf="cConfig.hasFeatureOfInterest">hasFeatureOfInterest: {{cConfig.hasFeatureOfInterest}}</p>
          <p class="detail__value" *ngIf="cConfig.unit">unit: {{cConfig.unit}}</p>
          <p class="detail__value" *ngIf="cConfig.usedProcedures">usedProcedure's are {{cConfig.usedProcedures}}</p>
          <p class="detail__value" *ngIf="cConfig.disciplines">discipline's are {{cConfig.disciplines}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="sensor.currentConfig.length === 0">
      <p class="detail__value">
        Not set.
      </p>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-around">

    <a [routerLink]="['/sensors/edit', sensor.id]" mat-raised-button color="accent" class="btn--m-5">
      <mat-icon aria-label="edit">edit</mat-icon> Edit
    </a>

    <button mat-raised-button color="warn" (click)="deleteButtonClicked()" class="btn--m-5">
      <span *ngIf="state === 'pending'">
        Delete
      </span>
      <div *ngIf="state === 'deleting'" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <span>Deleting</span>
        <mat-spinner diameter="18"></mat-spinner>
      </div>
    </button>

  </div>

</div>