.location-viewer {
   /* The default */
  height: 400px;
}

/* Adjust the map size based on the screen height */
@media (min-height: 0px) {
	#location-viewer { height: 200px; }
}

@media (min-height: 500px) {
	#location-viewer { height: 300px; }
}

@media (min-height: 600px) {
	#location-viewer { height: 400px; }
}

@media (min-height: 700px) {
	#location-viewer { height: 500px; }
}

@media (min-height: 800px) {
	#location-viewer { height: 600px; }
}