<div class="container container--padded-top">

  <div fxLayout="row" fxLayoutAlign="center">

    <mat-card class="card--max-width-600">

      <form class="form--max-width-600" [formGroup]="createSensorForm" (ngSubmit)="onSubmit(createSensorForm.value)" (keydown.enter)="$event.preventDefault()" fxLayout="column" fxLayoutGap="15px">

        <mat-form-field class="form__field--max-width" hintLabel="Max 44 characters">
          <input matInput id="sensor-label" type="text" formControlName="label" maxlength="44" placeholder="Label">
        </mat-form-field>

        <mat-form-field class="form__field--max-width" hintLabel="Max 48 characters">
          <input matInput id="sensor-id" type="text" formControlName="id" maxlength="48" placeholder="ID">
          <mat-error *ngIf="createSensorForm.get('id').errors && createSensorForm.get('id').errors.pattern">
            invalid format
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form__field--max-width">
          <textarea matInput id="description" formControlName="description" maxlength="1000" placeholder="Description" rows="3"></textarea>
        </mat-form-field>

        <mat-form-field class="form__field--max-width" hintLabel="{{hostOrDep === 'host' ? 'cannot be set when Permanent Host is set' : 'begin typing deployment id'}}">
          <input type="text" placeholder="Has Deployment" matInput formControlName="hasDeployment" [matAutocomplete]="autoDep">
          <mat-autocomplete #autoDep="matAutocomplete">
            <mat-option *ngFor="let deploymentChoice of deploymentChoices" [value]="deploymentChoice.id">
              {{deploymentChoice.id}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="form__field--max-width" hintLabel="{{hostOrDep === 'host' ? 'cannot be set when Permanent Host is set' : 'begin typing platform id'}}">
          <input type="text" placeholder="Is Hosted By" matInput formControlName="isHostedBy" [matAutocomplete]="autoPlat">
          <mat-autocomplete #autoPlat="matAutocomplete">
            <mat-option *ngFor="let platformChoice of platformChoices" [value]="platformChoice.id">
              {{platformChoice.id}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="form__field--max-width" hintLabel="{{hostOrDep === 'dep' ? 'cannot be set when Has Deployment is set' : 'enter an id to select an existing host, or create a new one.'}}">
          <input type="text" placeholder="Permanent Host" matInput formControlName="permanentHost" [matAutocomplete]="autoPermHost">
          <mat-autocomplete #autoPermHost="matAutocomplete">
            <mat-option *ngFor="let permanentHostChoice of permanentHostChoices" [value]="permanentHostChoice.id">
              {{permanentHostChoice.id}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <p>Configuration</p>

        <!-- TODO: Might be worth only showing this JSON editor tool when a button labelled "Advanced" is clicked, otherwise show a simple view where the user selects values for just the first config object -->
        <uo-sensor-config-tool (configChanged)="onInitialConfigChange($event)"></uo-sensor-config-tool>

        <div fxLayout="row" fxLayoutAlign="center">
          <button mat-raised-button color="accent" type="submit" [disabled]="createSensorForm.invalid || state !== 'pending'">
            <!-- Pending -->
            <span *ngIf="state === 'pending'">Create</span>
            <!-- Creating -->
            <div *ngIf="state === 'creating'" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
              <span>Creating</span>
              <mat-spinner diameter="18"></mat-spinner>
            </div>
            <!-- Created -->
            <div *ngIf="state === 'created'" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" >
              <span>Created</span>
              <mat-icon aria-hidden="true">done</mat-icon>
            </div>
            <!-- Failed -->
            <div *ngIf="state === 'failed'" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" >
              <span>Failed</span>
              <mat-icon aria-hidden="true">close</mat-icon>
            </div>
          </button>
        </div>

      </form>  

      <div *ngIf="createErrorMessage" fxLayout="row" fxLayoutAlign="center">
        <p class="text--warn">{{createErrorMessage}}</p>
      </div>

      <div *ngIf="createdSensor">
        <p>View sensor <a [routerLink]="['/sensors/view', createdSensor.id]">{{createdSensor.label}}</a></p>
      </div>

      <div *ngIf="createdPermanentHost">
        <p>View permanent host <a [routerLink]="['/permanent-hosts/view', createdPermanentHost.id]">{{createdPermanentHost.label}}</a></p>
      </div>

    </mat-card>  

  </div>

</div>
