<div class="container container--padded-top container--padded-bottom">

  <mat-card>

    <div *ngIf="deleteState === 'pending'">
      <div *ngIf="getState === 'getting'" fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
        <p>Getting procedure {{procedureId}}</p>
      </div>

      <div *ngIf="getState === 'failed' && getErrorMessage">
        <div fxLayout="row" fxLayoutAlign="center">
          <p class="text--warn">{{getErrorMessage}}</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" *ngIf="procedureNotFound">
          <a [routerLink]="['/procedures/create', {id: procedureId}]" mat-raised-button color="accent">Create it?</a>
        </div>
      </div>
      

      <div *ngIf="getState === 'got' && procedure">
        <uo-procedure [procedure]="procedure" (deleted)="onDeleted($event)"></uo-procedure>
      </div>
    </div>

    <div *ngIf="deleteState === 'deleted'" fxLayout="column" fxLayoutAlign="center center">
      <p>Procedure <em>{{procedure.id}}</em> has been deleted.</p>
      <a mat-stroked-button color="primary" [routerLink]="['/procedures']">Return to all procedures</a>
    </div>

  </mat-card>

</div>
