<div class="container container--padded-top container--padded-bottom">

  <div fxLayout="row wrap">
    <div fxFlex='100' fxFlex.gt-md="34" fxFlexOffset.gt-md="33" fxLayout="row" fxLayoutAlign="center">
      <a [routerLink]="['./create']" mat-raised-button color="accent" class="btn__my-5">Create new sensor</a>
    </div>
    <div fxFlex='100' fxFlex.gt-md="33" fxLayout="row" fxLayoutAlign="center" fxLayoutAlign.gt-md="end">
      <a [routerLink]="['/unknown-sensors']" mat-stroked-button color="primary" class="btn__my-5">View unknown sensors</a>
    </div>
  </div>

  <br><br>

  <div *ngIf="state === 'getting'" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
    <p>Getting Sensors</p>
  </div>

  <div *ngIf="state === 'failed'">
    <p class="text--warn">{{getErrorMessage}}</p>
  </div>  

  <!-- TODO: I need to add some form elements to allow me to filter the sensors, e.g. filter by permanentHost or inDeployment, etc, many of the filter parameters should be able to be passed in via the paramMap, i.e. URL parameters. -->

  <div *ngIf="state === 'got'">

    <div *ngIf="sensors.length > 0">
      <p>List of sensors:</p>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let sensor of sensors">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>{{sensor.id}}</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <uo-sensor [sensor]="sensor" (deleted)="onDeleted($event)"></uo-sensor>
          
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div *ngIf="sensors.length === 0" fxLayout="row" fxLayoutAlign="center">
      <p>You don't appear to have any sensors yet</p>
    </div>  

  </div>


  
</div>

