<div class="container container--padded-top container--padded-bottom">

  <div fxLayout="row" fxLayoutAlign="center">
    <a [routerLink]="['./create']" mat-raised-button color="accent">Create new deployment</a>
  </div>

  <br><br><br>

  <h2>Deployments</h2>

  <form [formGroup]="optionsForm">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="40px">

      <mat-form-field class="form__field--y-spaced" hintLabel="tip: enter whole words">
        <input matInput id="deployment-search" type="search" formControlName="search" placeholder="search">
        <span matPrefix><mat-icon>search</mat-icon>&nbsp; &nbsp;</span>
      </mat-form-field>

      <mat-form-field class="form__field--y-spaced">
        <mat-label>Public or Private</mat-label>
        <mat-select formControlName="publicOrPrivate">
          <mat-option value="both">Both</mat-option>
          <mat-option value="public">Public only</mat-option>
          <mat-option value="private">Private only</mat-option>          
        </mat-select>
      </mat-form-field>

      <mat-slide-toggle formControlName="mineOnly" class="form__field--y-spaced">Show mine only</mat-slide-toggle>

    </div>
  </form>

  <div *ngIf="deployments.length > 0">
    <mat-paginator 
      [length]="meta.total"
      [pageSize]="limit"
      [pageIndex]="calculatePageIndex()"
      [pageSizeOptions]="limitOptions"
      [showFirstLastButtons]="true"
      (page)="pageEvent($event)"
    >
    </mat-paginator>
  </div>

  <div *ngIf="state === 'getting'" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
    <p>Getting Deployments</p>
  </div>

  <div *ngIf="state === 'failed'">
    <p class="text--warn">{{getErrorMessage}}</p>
  </div>  

  <div *ngIf="state === 'got'">

    <div *ngIf="deployments.length > 0">

      <mat-accordion>
        <mat-expansion-panel *ngFor="let deployment of deployments">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>{{deployment.name}}</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <uo-deployment [deployment]="deployment" (deleted)="onDeleted($event)"></uo-deployment>
          
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div *ngIf="deployments.length === 0" fxLayout="row" fxLayoutAlign="center">
      <p>No deployments found</p>
    </div>

  </div>


  
</div>

