<div class="container container--padded-top container--padded-bottom">

  <div fxLayout="row" fxLayoutAlign="center">
    <a [routerLink]="['./create']" mat-raised-button color="accent">Create new deployment</a>
  </div>

  <br><br><br>

  <div *ngIf="state === 'getting'" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
    <p>Getting Deployments</p>
  </div>

  <div *ngIf="state === 'failed'">
    <p class="text--warn">{{getErrorMessage}}</p>
  </div>  

  <div *ngIf="state === 'got'">

    <div *ngIf="deployments.length > 0">
      <p>List of deployments:</p>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let deployment of deployments">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>{{deployment.name}}</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <uo-deployment [deployment]="deployment" (deleted)="onDeleted($event)"></uo-deployment>
          
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div *ngIf="deployments.length === 0" fxLayout="row" fxLayoutAlign="center">
      <p>You don't appear to have any deployments yet</p>
    </div>

  </div>


  
</div>

