/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.text--primary {
  color: #3F51B5 !important;
}

.text--accent {
  color: #FF4081 !important;
}

.text--warn {
  color: #F44236 !important;
}

.text__center {
  text-align: center;
}


/* Replicate a bootstrap container */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    /* IMPORTANT: These container widths are less that what bootstrap uses as we have to account for the sidebar. Basically we've subtracted the sidebar width. */
    width: 625; /* was 750 */
  }
}
@media (min-width: 992px) {
  .container {
    width: 845px; /* was 970 */
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1045px; /* was 1170 */
  }
}


.container--padded-top {
  padding-top: 15px;
}

.container--padded-bottom {
  padding-bottom: 15px;
}


.form--max-width-600 {
  width: 100%; 
  max-width: 600px;
}

.form__field--max-width {
  width: 100%;
}

.card--max-width-600 {
  width: 100%; 
  max-width: 600px;
}

.btn--my-5 {
  margin-top: 3px !important; 
  margin-bottom: 3px !important;
}

.btn--m-5 {
  margin: 5px !important;
}


/* Custom styling for prettyjson components */
prettyjson pre span {
  white-space: normal;
}
prettyjson .key {
  color: #FF4081 !important;
}
prettyjson .string {
  color: #3F51B5 !important;
}
prettyjson .number {
  color: #09B319 !important;
}
prettyjson .boolean {
  color: #FF5B33 !important;
}
prettyjson .null {
  color: #B31B4D !important;
}

.icon--20 {
  font-size: 20px;
}


.detail {
  padding-bottom: 15px;
}

.detail__title {
  margin: 0px;
  color: #FF4081;
  font-weight: normal;
}

.detail__value {
  margin: 0px;
}

