<div class="container container--padded-top container--padded-bottom">

  <br><br>

  <h2>Unknown sensors</h2>

  <div *ngIf="unknownSensors.length > 0">
    <mat-paginator 
      [length]="meta.total"
      [pageSize]="limit"
      [pageSizeOptions]="limitOptions"
      [showFirstLastButtons]="true"
      (page)="pageEvent($event)"
    >
    </mat-paginator>
  </div>


  <div *ngIf="state === 'getting'" fxLayout="column" fxLayoutAlign="center center">
    <br><br>
    <mat-spinner></mat-spinner>
    <p>Getting Unknown Sensors</p>
  </div>

  <div *ngIf="state === 'failed'">
    <p class="text--warn">{{getErrorMessage}}</p>
  </div>  


  <div *ngIf="state === 'got'">

    <div *ngIf="unknownSensors.length > 0">

      <mat-accordion>
        <mat-expansion-panel *ngFor="let unknownSensor of unknownSensors">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>{{unknownSensor.id}}</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <uo-unknown-sensor [unknownSensor]="unknownSensor"></uo-unknown-sensor>
          
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div *ngIf="unknownSensors.length === 0" fxLayout="row" fxLayoutAlign="center">
      <p>There's currently no unknown sensors</p>
    </div>  

  </div>


</div>

