<div>
  
  <p>ID: {{permanentHost.id}}</p>
  <p>Description: {{permanentHost.description}}</p>
  <p>Static: {{permanentHost.static}}</p>
  <p>Created: {{permanentHost.createdAt| date:'long'}}</p>
  <p>Last Updated: {{permanentHost.updatedAt | date:'long'}}</p>
  <p>Registration Key: {{permanentHost.registrationKey}}</p>

  <div *ngIf="permanentHost.registeredAs">
    <p>Registered as <a [routerLink]="['/platforms/view', permanentHost.registeredAs]">{{permanentHost.registeredAs}}</a></p>
  </div>

  <!-- TODO: Need a box that let's me enter the name of a deployment (with autocomplete) and registers this permanent host to that deployment. It could then pop up with a link to more information about the platform that was created from it? -->
  <div *ngIf="!permanentHost.registeredAs" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">

    <div>
      Register to deployment: 
    </div>

    <div>
      <mat-form-field>
        <input type="text" matInput [formControl]="registerToDeploymentId" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let deploymentChoice of deploymentChoices" [value]="deploymentChoice.id">
            {{deploymentChoice.id}}
          </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="!registerToDeploymentId.value">begin typing deployment's id</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button color="primary" *ngIf="registerToDeploymentId.value" (click)="register()">
        <!-- Pending -->
        <span *ngIf="registerState === 'pending'">Register</span>
        <!-- Creating -->
        <div *ngIf="registerState === 'registering'" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
          <span>Registering</span>
          <mat-spinner diameter="18" color="accent"></mat-spinner>
        </div>
        <!-- Failed -->
        <div *ngIf="registerState === 'failed'" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" >
          <span>Failed</span>
          <mat-icon aria-hidden="true">close</mat-icon>
        </div>
      </button>
    </div>

    <div *ngIf="registerErrorMessage">
      <p class="text--warn">{{registerErrorMessage}}</p>
    </div>

  </div>


  <br>

  <div fxLayout="row wrap" fxLayoutAlign="space-around">

    <a [routerLink]="['/permanent-hosts/edit', permanentHost.id]" mat-raised-button color="accent" class="btn--m-5">
      <mat-icon aria-label="edit">edit</mat-icon> Edit
    </a>

    <a [routerLink]="['/sensors', { permanentHost: permanentHost.id }]" mat-raised-button color="primary" class="btn--m-5">
      View its Sensors
    </a>

    <a [routerLink]="['/sensors/create', { permanentHost: permanentHost.id }]" mat-raised-button color="primary" class="btn--m-5">
      Add Sensors
    </a>

    <button mat-raised-button color="warn" (click)="deleteButtonClicked()" class="btn--m-5">
      <span *ngIf="deleteState === 'pending'">
        Delete
      </span>
      <div *ngIf="deleteState === 'deleting'" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <span>Deleting</span>
        <mat-spinner diameter="18"></mat-spinner>
      </div>
    </button>

  </div>

</div>