<div>
  
  <p>ID: {{permanentHost.id}}</p>
  <p>Description: {{permanentHost.description}}</p>
  <p>Registration Key: {{permanentHost.registrationKey}}</p>
  <p>Static: {{permanentHost.static}}</p>
  <p>Created: {{permanentHost.createdAt| date:'long'}}</p>
  <p>Last Updated: {{permanentHost.updatedAt | date:'long'}}</p>

  <!-- TODO: Need a box that let's me enter the name of a deployment (with autocomplete) and registers this permanent host to that deployment. It could then pop up with a link to more information about the platform that was created from it? -->

  <div fxLayout="row" fxLayoutAlign="space-around">

    <a [routerLink]="['/sensors/create', { permanentHost: permanentHost.id }]" mat-raised-button color="primary">
      Add Sensors
    </a>

    <button mat-raised-button color="warn" (click)="deleteButtonClicked()">
      <span *ngIf="state === 'pending'">
        Delete
      </span>
      <div *ngIf="state === 'deleting'" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <span>Deleting</span>
        <mat-spinner diameter="18"></mat-spinner>
      </div>
    </button>

  </div>

</div>